/************** 设置滚动条样式 **************/
::-webkit-scrollbar {
  width: 8px;
  height: 1px;
}

/*滑块部分*/
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #cecece;
}

/*轨道部分*/
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  border-radius: 5px;
}